<%- include("../navbar") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Artist Discography</title>
</head>

<body>

    <div id="missedHeader">
        <h1>You missed Testing Songs!</h4>
        <span>
        <button id="button" onClick="greet()"><%= label() %></button>
        </span>
    </div>

</body>
<script src="/discography/discography.js"></script>
</html>