<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1 class="display-3">MoodRing - A Tale of Spotify Data Analysis</h1>
<p class="h6">by Brandon Hawi and Ryan Loveland</p>
<a href="/login">Click here for funsies</a>
